 .home-page-container {
    height: 100vh;
} 

.home-page-container {
    transition: background-color 1s ease;
    &.dark {
        background-color: black;
    }
}

// .users-page-container with the same properties
