.edit-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: rgba(0, 0, 0, 0.75);
}

.edit-modal-container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    background-color: aliceblue;
    position: fixed;
    top: 30vh;
    left: 35%;
    z-index: 3;
    padding: 10px;
    border-radius: 10px;

    h2 {
        text-align: center;
    }

    .close-icon {
        color: red;
        // margin: 5px;
        align-self: flex-end;

        &:hover {
            cursor: pointer;
        }
    }

    button {
        align-self: center;
    }

    .edit-modal-form {
        display: flex;
        flex-direction: column;
        

        input {
            margin: 10px;
            padding: 10px;
            flex-grow: 1;
            border-radius: 5px;

            &::placeholder {
                color: rgb(176, 162, 162);
            }
        }

        .edit-modal-name, .edit-modal-location {
            display: flex;            

        }

        .edit-modal-submit {
            width: 200px;
            border: none;
            outline: none;
            background: #f488ae;
            color: #fff;
            border-radius: 40px;
            align-self: center;
            box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
            position: relative;
            overflow: hidden;
            cursor: pointer;
            font-size: 16px;
            // margin-top: 50px;
        }

        .edit-modal-error-message {
            color: red;
            visibility: hidden;
            margin-left: 20px;
            height: 30px;

            &.visible {
                visibility: visible;
            }
        }
    }
}