.user-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 1px solid rgb(238, 227, 227);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s ease, background-color 1s ease;
    margin: 15px;
    border-radius: 10px;
    font-family: 'Zilla Slab', serif;
    background-color: aliceblue;
    opacity: 0;
    animation: fade-in-animation 1s ease-in forwards;
    letter-spacing: 1px;
    @keyframes fade-in-animation {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    &:hover {
        transform: scale(1.05);
    }

    > * {
        margin-top: 10px;
    }

    .user-card-icons {
        margin: 0 10px 0 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;

        > *:hover {
            cursor: pointer;
        }

        .close-icon {
            color: red;
            margin-right: 10px;
        }

        .mode-edit-icon {
            margin: 0 10px 0;
        }

        .launch-icon {
            color: black;
        }
    }

    .user-card-image-container {
        width: 150px;
        height: 150px;
        overflow: hidden;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .user-card-full-name {
        font-weight: bold;
    }

    .user-card-email {
        border-bottom: 1px solid transparent;

        &:hover {
            border-bottom-color: black;
            // text-decoration: underline;
            // padding-bottom: 2px;
            cursor: pointer;
        }
    }

    &.dark {
        background-color: rgb(91, 91, 91);
        color: white;

        .user-card-icons {
            svg {
                color: white;
            }
        }
    }
}